{{ define "main" }}
{{ $dateFormat := default "January 2, 2006" (index .Site.Params "date_format") }}
<div>
  {{ .Content }}
</div>
  {{ range $element := $.Site.Data.work.works }}
	{{ $name := index $element "name" }}
	{{ $desc := index $element "desc" }}
	{{ $path := index $element "path" }}
	{{ $date := index $element "date" }}

<section>
  <p><hr class="docutils"></p>
  <h2><a href="{{ $path | safeURL }}">{{ $name | markdownify }}</a></h2>
  <p><em><time datetime='{{ dateFormat "2006-01-02T15:04:05Z07:00" $date }}'>{{ dateFormat $dateFormat $date }}</em></p>
  <blockquote>
  {{ with $desc }}
    <p><em>Description:</em> {{ $desc }}</p>
  {{ end }}
  </blockquote>
  <p><a href='{{ $path | safeURL }}'>View ...</a></p>
</section>
  {{ end }}
{{ end }}
