{{ define "main" }}
{{ $dateFormat := default "January 2, 2006" (index .Site.Params "date_format") }}
  <section>
    <div>
      {{ .Content }}
    </div>
  </section>
  {{ range $element := $.Site.Data.work.works }}
    <section>
      <p><hr class="docutils"></p>
      <h2><a href="{{ index $element "path" | safeURL }}">{{ index $element "name" | markdownify }}</a></h2>
      <ul class="bulletless"><li><em><time datetime='{{ dateFormat "2006-01-02T15:04:05Z07:00" (index $element "date") }}'>{{ dateFormat $dateFormat (index $element "date") }}</em></li></ul>
      {{ with index $element "desc" }}
        <blockquote>
          <p><em>Description:</em> {{ . }}</p>
        </blockquote>
      {{ end }}
      <p><a href='{{ index $element "path" | safeURL }}'>View ...</a></p>
    </section>
  {{ end }}
{{ end }}
